.section-title {
    margin-top: 5%;
}

.video-container {
    position: relative;
    text-align: center;
    color: white;
    height: -webkit-fill-available;
}
.video-container img{
    height: -webkit-fill-available !important;
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

width: 94px;
height: 94px;
margin: 0 auto;
margin-bottom: 0px;
background: radial-gradient(#009961 50%,rgba(0, 153, 97, 0.4) 52%);
border-radius: 50%;
display: block;
overflow: hidden;
}

.centered:hover::before {
border-left: 15px solid #f5f5f56e;
transform: scale(20);
background-color: f5f5f56e;
}

.centered::before {
content: '';
position: absolute;
left: 50%;
top: 50%;
transform: translateX(-40%) translateY(-50%);
width: 0;
height: 0;
border: none;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-left: 15px solid #fff;
z-index: 200;
-webkit-animation: none;
animation: none;
border-radius: 0;
}

.season{
    border-radius: 8px;
    padding: 10px;
    color:white !important;
    margin: 5px;
    background-color: darkgrey;
    border-style: none;
}

.eps{
    border-radius: 8px;
    padding: 10px;
    color:white !important;
    margin: 5px;
    border-style: none;
}
#video-cover{
    display: block;
}
#video-cover-play{
    display: none;
}

.cover-details{
   color:  currentColor;
   background-color: currentColor;
   margin-bottom: 10px;
   border-radius:10px;
}

.cover-details span,.cover-details h2 ,.cover-details p{
    padding: 5px 20px 0px 5px;
    color: black;
}

.eps-seasons {
    background-color: currentColor; 
    position: relative;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: darkgoldenrod;
}
.section-title a {
    text-decoration: underline;
    color: currentColor;
}

.btn-download {
    float: right;
    margin:10px;
    border-radius: 8px;
    background: initial;
}

.btn-download:hover{
    background-color: lightslategray;
}


.trailor{
    font-size: large;
    padding: 2px;
    border-radius: 8px;
}

.model-close{
    font-size: x-large;
    position: absolute;
    color:white !important;
    right: -5%;
}

.modal-body{
    position: relative !important;
    padding: 0 !important ;
}
.modal-body > iframe {
    margin-bottom: -8px;
}

.fade{
    opacity:0;
    -webkit-transition:opacity .15s linear;
    -o-transition:opacity .15s linear;
    transition:opacity .15s linear
}
.fade.in{opacity:1}
.modal.fade .modal-dialog{-webkit-transform:translate(0,-25%);
    -ms-transform:translate(0,-25%);
    -o-transform:translate(0,-25%);
    transform:translate(0,-25%);
    -webkit-transition:-webkit-transform .3s ease-out;
    -o-transition:-o-transform .3s ease-out;
    transition:-webkit-transform .3s ease-out;
    transition:transform .3s ease-out;
    transition:transform .3s ease-out,
    -webkit-transform .3s ease-out,
    -o-transform .3s ease-out
}
.modal.in .modal-dialog{
    -webkit-transform:translate(0,0);
    -ms-transform:translate(0,0);
    -o-transform:translate(0,0);
    transform:translate(0,0)
}
.modal-open .modal{
    overflow-x:hidden;
    overflow-y:auto
}
.modal-dialog{
    position:relative;
    width:auto;
    margin:10px
}
.modal-content{
    position:relative;background-color:#fff;background-clip:padding-box;
    border:1px solid #999;
    border:1px solid rgba(0,0,0,.2);
    border-radius:6px;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
    box-shadow:0 3px 9px rgba(0,0,0,.5);outline:0
}
.modal{
    position:fixed;top:0;right:0;
    bottom:0;left:0;z-index:1050;display:none;overflow:hidden;
    -webkit-overflow-scrolling:touch;outline:0
}




@media (min-width: 600){
    
}